.report-table-container {
    height: calc(100dvh - 21rem);
    min-height: 24rem;
    overflow: auto;
}

table {
    white-space: nowrap;
}

thead th {
    background: var(--bulma-scheme-main);
    position: sticky;
    top: 0;
    z-index: 3;
}

thead th:focus-within {
    z-index: 4;
}

.group-row th {
    padding: 0;
}

.group-row .button {
    border-radius: 0;
    color: var(--bulma-text);
    padding-inline: .75rem;
    text-decoration: none;
}
